.hero{
    @media screen and(max-width:767px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobilex1.jpg);
        @media (min-resolution:2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobilex2.jpg);
        }
    }
    @media screen and(min-width:768px) and(max-width:1199px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tabletx1.jpg);
        @media (min-resolution:2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tabletx2.jpg);
        }
    }
    @media screen and (min-width:1200px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-1600.jpg);
        @media (min-resolution:2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-3200.jpg);
        }
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $solution-background-color;
    text-align: center;
    margin: 0 auto;
    @media screen and(max-width:767px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 510px;
    }
    @media screen and(min-width:768px) and(max-width:1199px) {
        padding-top: 118px;
        padding-bottom: 118px;
        width: 798px;
    }
    @media screen and(min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
    }
}
.hero-title{
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 900;
    color: $slogan-color;
    letter-spacing: 0.06em;
    @media screen and(max-width:1199px) {
        max-width: 360px;
        font-size: 26px;
        line-height: 1.61;
        margin-bottom: 30px;
    }
    @media screen and(min-width:1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
        margin-bottom: 40px;
    }
}
.hero-button {
    text-align: center;
    border: 0;
    border-radius: 4px;
    background-color: $hero-button-color;
    color: $hero-button-text-color;
    padding: 10px 32px;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    letter-spacing: 0.06em;
    cursor: pointer;
}