.team{
    background-color: $team-backgound;
    @media screen and(min-width:480px) and(max-width:767px) {
        padding-top: 60px;
        padding-bottom: 60px; 
        width: 510px;
    }
    @media screen and(min-width:768px) and(max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
        width: 798px;
    }
    @media screen and(min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.team__title{
    text-align: center;
    margin: 0;
    font-weight: 700;
    @media screen and(max-width:1199px) {
        font-size: 28px;
        line-height: 1.14;
        margin-bottom: 30px;
    }
    @media screen and(min-width:1200px) {
        font-size: 32px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}
.team__list{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    @media screen and(max-width:479px) {
            width: auto;
        }
    @media screen and (max-width:767px) {
        flex-direction: column;
        width: 450px;
    }
    @media screen and(min-width:768px) and(max-width:1199px) {
            flex-wrap: wrap;
        }
}
.team__item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child){
        @media screen and(max-width:767px) {
            margin-bottom: 30px;
        }
    }
    &:nth-child(2n+1){
        @media screen and(min-width:768px) and(max-width:1199px) {
        margin-right: 30px;
        }
    }
    &:nth-child(-n+2){
        @media screen and(min-width:768px) and(max-width:1199px) {
            margin-bottom: 30px;
        }
    }
    &:not(:first-child){
        @media screen and(min-width:1200px) {
            margin-left: 30px;
        }
    }
}
.team__image{
    display: block;
    height: auto;
    @media screen and (max-width:767px) {
        width: 450px;
    }
    @media screen and (min-width:768px) {
        width: 354px;
    }
    @media screen and(min-width:1200px) {
        width: 270px;
    }
}
.team__name {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team__position {
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 1.9;
    color: $paragraph-color;
}

.soc-list {
    box-shadow: 0;
    @extend %list;
    @include centeredFlex;
    margin-bottom: 30px;
}

.soc-list__item:not(:first-child) {
    margin-left: 10px;
}

.soc-list__link {
    height: 44px;
    width: 44px;
    background-color: #fff;
    border-radius: 50%;
    @include centeredFlex;
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: #fff;
        background-color: #2196f3;
    }
}