$main-background-color: #fff;
$main-text-color: #212121;
$paragraph-color: #757575;
$contacts-color: #757575;
$hover-hover-button-color: #fff;
$team-backgound: #f5f4fa;
$hover-color: #2196f3;
$titel-color: #212121;
$link-color: #212112;
$logo-color: #2196f3;
$logo-link-color: #000;
$header-navigation-color: #212121;
$footer-link-color: #fff;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-background-color: #2F303A;
$city-color: #fff;
$slogan-color: #fff;
$solution-background-color: #2F303A;
$hero-button-color: #2196f3;
$hero-button-text-color: #fff;
$market-color: #212121;
$header-link-active: #2196f3;
$team-list-background-color: #FFF;