body {
    margin: 0;

    font-family: 'Roboto', Raleway, sans-serif;
    background-color: $main-background-color;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: $main-text-color;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    @extend %section_p
}
.visually-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}